.git
.github
.cache
.coverage
.coverage.*
.env
.env.*
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.vite
.vscode
**/__pycache__
**/*.pyc
artifacts
build
coverage.xml
dist
frontend
htmlcov
node_modules
snyk
tests
tmp
*.env
*.log
